.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 70%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #12263f !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.boton *, .boton--sm * 
  color: #fff
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner_interno.jpg") !important
.boton:active *, .boton--sm:active *, .boton:focus *, .boton--sm:focus *, .boton:hover *, .boton--sm:hover * 
    color: #fff

.barra-avance__boton--regresar span 
    color: #fff !important
// bordes, fondos, tamaños img

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.jpg') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.jpg') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white

.w-card-icon
  width: min-content
  z-index: 1
  position: relative
  left: 9px  
  top: -6px         
  margin-right: -5px  
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 30px
  left: -25px
  top: 8px
  display: inline-block
.titulo1
  background: url('../assets/curso/Tema1/fondo1.png')
  background-size: 100% 90%
  background-repeat: no-repeat
  background-position: center
  display: inline-block

.w-card-text2
  position: relative
  padding-left: 30px
  padding-right: 30px
  top: 8px
  display: inline-block  

.titulo2
  background: url('../assets/curso/Tema5/subt.png')
  background-size: 100% 90%
  background-repeat: no-repeat
  background-position: center
  display: inline-block

//Centrar imágenes en una caja. t ajustar . a alinear al centro
.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto  
//Tarjetas desplegables con boton
.cont_5_1, .cont_5_1 *
  position: relative
.cont_5_1:before
  content: ''
  position: absolute
  width: 125%
  height: 70%
  top: 15%
  bottom: 15%
  left: -15%
  background-size: 100% 100%
.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  border-radius: 0px
.crd_hover_txt .crd_hover_txt--body
  position: absolute
  padding: 1.5rem
  width: 100%
  bottom: 0
  transition: all .5s ease-in-out
  transform: translateY(calc(100% - 3.85rem))
.crd_hover_txt:hover .crd_hover_txt--body
  transition: all .5s ease-in-out
  transform: translateY(0)
  background-color: #EDF4FE!important
  .rot
    transform: rotate(180deg)
.crd_hover_txt:hover .crd_hover_txt--body *
  color: black !important
.colt
  background-color: #B8D4F8!important
.mtop
  margin-top: -18px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    margin-top: -25px
  @media (max-width: 767px)
    .txp
      font-size: 0.75em !important
  @media (min-width: 768px) and (max-width: 1024px)
    .txp
      font-size: 0.85em

.cajon:before 
  background-color: #81C74D
.bg1
  background-color: #F2F9ED
.bg2
  background-color: #CCE9B7
  border-top-right-radius: 20px
  border-bottom-right-radius: 20px
.bg3
  background-color: #FFF9E5
  border-radius: 20px
.bg4
  background-color: #FEC009
.bg5
  background-color: #EDF4FE
.bg6
  background-color: #F2F9ED

.bgtema5
  background-image: url('../assets/curso/Tema5/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -2rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -2.0rem
    margin-right: -1rem
    margin-left: -1rem